.container {
    margin-top: 30px;
   border: 5px solid blue;
   
  
  }
#stylish  tr:nth-child(even){background-color: #f2f2f2;}

#stylish tr:hover {background-color: #ddd;}

#stylish th {
  
 padding-top: 12px;
 padding-bottom: 12px;
 text-align: left;
 background-color: #04AA6D;
 color: white;
}