
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->



<p-tabMenu [model]="items"></p-tabMenu>
  
    <div id="table" class="table-editable">
      <router-outlet></router-outlet>
      
 
</div>

<!-- <p-table [value]="personList" styleClass="p-datatable-gridlines" responsiveLayout="scroll">
  <ng-template pTemplate="caption">
      Header
  </ng-template>
  <ng-template pTemplate="header">
      <tr>
          <th>ID</th>
          <th>First-Name</th>
          <th>Last-name</th>
          <th>Age</th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-personList>
      <tr>
          <td>{{personList.id}}</td>
          <td>{{personList.name}}</td>
          <td>{{personList.lastname}}</td>
          <td>{{personList.age}}</td>
          <td>
            <span class="table-remove">
              <button pButton type="button"  (click)="remove(id)">Remove</button>
            </span>
          </td>
      </tr>
  </ng-template>
  <ng-template pTemplate="summary">
      Footer
  </ng-template>
</p-table> -->

<!-- <p-table >
  <ng-template pTemplate="header">
      <tr>
          <th>Code</th>
          <th>Name</th>
          <th>Category</th>
          <th>Quantity</th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" >
      <tr>
          <td>tr</td>
          <td>qwd</td>
          <td>ihjo</td>
          <td>asdasd</td>
      </tr>
  </ng-template>
</p-table> -->